@import url('https://fonts.googleapis.com/css2?family=Quattrocento&family=Questrial&family=Roboto:wght@300;400;500&display=swap');


@import 'config';

$primary-color: #fff;
$secondary-color: #50E4C1;
$secondary-bg:#18130d;
$font-primary: 'Quattrocento', sans-serif;
$font-secondary: 'Questrial', sans-serif;





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #111;
}

a{
    text-decoration: none;
}

img {
    width: 100%;
}

.container {
    max-width: 1150px;
    padding: 0 2rem;
    margin: 0 auto;
}
.button{
    text-align: center;
    
    .btn{
        background: $secondary-color;
        color: $secondary-bg;
        padding: 2rem 2rem;
        font-size: 1.4rem;
        text-transform: uppercase;
        display: inline-block;
        text-align: center;
        font-family: $font-secondary;

        &:hover {
            background: darken($secondary-color,20);
        }
}
}

.section-title{    
    color: $primary-color;
    font-weight: 400;
    font-family: $font-primary;
    font-size: 4rem;
    text-align: center;
    
    
    
    position: relative;

    &::after {
        position: absolute;
        content: '';
        width: 20%;
        height: 4px;
        background: $secondary-color;
        left: 50%;
        bottom: -60px;
        transform: translate(-50%, 50%);
    }
}
.section-subtitle{    
    color: $primary-color;
    font-weight: normal;
    font-family: $font-secondary;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 7.2rem;
    margin-bottom: 2.5rem; 
    line-height: 1.4;  
}

section {
    padding-top: 2rem;
    padding-bottom: 4rem;
}

// HERO

body{
    background-image: url(/images/hero-image.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position:center;
    overflow-x: hidden;

    &:after {
        position: absolute;
        content: '';
        height: 116vh;
        width: 100%;
        top: 0;
        left: 0;
        background: rgba(lighten($secondary-bg, 2), 0.6);
        z-index: -1;
    }

    
}

header{
    .logo{
        width: 10rem;
        margin: auto;
        padding-top: 1.4rem;
        padding-bottom: 2.5rem;
    }
}
.hero{
    .hero-content{
        
        .button{
            
            .btn{
                margin-bottom: 3.1rem;
                margin-top: 1.3rem;
            }
        }
    }
    
}    


// FEATURED

.featured{
    background: darken($secondary-bg, 20);
    padding: 3rem;
    margin-top: -38px;
    .featured-in{
        display: flex;
        justify-content: space-between;
        align-items: center;
        

        img{
            width: 120px;    
        }
    }
}

// SERVICES

.services{
    background: #f2f2f2;
    padding: 1rem 0;
    padding-bottom: 6rem;
    
    .section-title{
        padding-top: 5rem;
        color: #111;
        margin-bottom: 2.5rem;
        font-size: 3.5rem;
        margin-top: 0;

        &::after{
            bottom: -50px;
        }
    }
    .section-subtitle{
        color: #333;
        font-size: 1.3rem;
        margin-top: -2rem;
    }

    .card {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        gap: 1.8rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
        
        .card-content{
            background: #fff;
            padding: 2rem;
            font-family: $font-primary;
            color:rgb(68, 63, 63);
            

            i{
                color: $secondary-color;
                margin: 0 auto;
                font-size: 80px;
                text-align: center;
                display: block;
            }
            h2{
                margin: 1.5rem;
                line-height: 1.2;
                text-align: center;
                font-weight: 300;
                font-size: 1.9rem;
            }
            p{
                font-size: 1rem;
                font-family: $font-secondary;
                line-height: 1.3;
                margin-bottom: 1rem;
            }
            a{
                text-decoration: underline;
                color: #777;
            }
        }
    }
}

// SKILLS

.skills{
    padding-bottom: 7rem;
    .section-title{
        padding-top: 5rem;
        color: #111;
        margin-bottom: .5rem;
        font-size: 3.5rem;
        margin-top: 0;

        &::after{
            bottom: -35px;
            
        }
    }
    .section-subtitle{
        color: #333;
        font-size: 1.3rem;
        margin-top: -2rem;
    }
    &-content{
        margin-top: 5rem;

        img{
            padding-bottom: 5rem;
        }
    }
}

// TEAM

.team{
    background: #f2f2f2;
    padding-top: 2rem;
    padding-bottom: 5.5rem;

    .section-title{
        padding-top: 5rem;
        color: #111;
        margin-bottom: .5rem;
        font-size: 3.5rem;
        margin-top: 0;
        text-align: left;

        &::after{
            bottom: -296px;
            left: 10%;
        }
    }
    .section-subtitle{
        color: #333;
        font-size: 1.3rem;
        text-align: left;
        line-height: 1.8;
    }
    &-card{
        display: flex;
        padding: 5rem 0;
        gap: 1.5rem;
        justify-content: center;
        align-items: center;
        // flex-wrap: wrap;

        .card-content{
            background: #fff;
            padding: 3rem;
            font-family: $font-primary;
            color: rgb(48, 42, 42);
            img{
                width: 250px;
                display: block;
                margin: auto;
            }
            .card-title{
                text-align: center;
                font-weight: 300;
                margin: 1rem auto;
                font-size: 1.8rem;
            }
            .card-subtitle {
                text-align: center;
                font-weight: 300;
                margin-bottom: 1.4rem;
                color: #777;
                font-size: 1rem;
            }
            p{
                line-height: 1.9;
                font-family: $font-secondary;
                
            }

        }
    }
}

// TESTIMONIAL

.testimonial{
    padding-top: 0;
    color: $primary-color;
    // padding-left: 3rem;
    // padding-right: 3rem;
    background: darken($secondary-bg, 20);
    padding-bottom: 0;
    margin-bottom: 0;

    .section-title {
        margin-top: 6rem;
        font-size: 3.5rem;
    }
    &-content{
        margin-top: 12rem;
        .box{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            margin-bottom: 5rem;

            img{
                width: 110px;
                border-radius: 50%;
                display: inline-block;
                margin-bottom: 40px;
            }
            h2{
                font-family: $font-secondary;
                font-weight: 400;
                font-size: 1.4rem;
                line-height: 1.6;
            }

            p{
                // margin: 3rem auto;
                margin-top: 2rem;
                font-size: 1.1rem;
            }
        }
    }
}

// FOOTER

.footer{
    background: darken($secondary-bg, 20);
    color: #fff;
    padding-bottom: 2rem;
    padding-top: 10rem;
    .section-title{
        &:after{
            top: -80px;
        }
    }
    .footer-content{
        display: flex;
        align-items: center;
        justify-content: space-between;

        p{
            font-family: $font-secondary;
        }
        a{
            color: $primary-color;
            text-decoration: underline;
        }
        
    }

    .social-icons{
        i{
            margin-right: .7rem;
            font-size: 1.5rem;
        }
    }

    .content-lower{
        
        img{
            width: 120px;
            margin: 0 auto;
            display: block;
            padding-top: 3rem;
        }
    }
}

@media (max-width: 980px){
    section {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

   .team{
       &-card{
           .card-content{
               padding: 1rem;
           }
       }
   }
}

@media (max-width: 786px){
    section {
        
        padding-top: 0;
        padding-bottom: 0;
        
    }

    .section-title{    
       
    
        &::after {
            width: 80%;
        }
    }


.featured{
    margin-top: -45px;
}

header{
    .logo{
        width: 8rem;
        margin: auto;
        padding-top: 1.4rem;
        padding-bottom: 4.5rem;
    }
}
.hero{
    .hero-content{

        .section-title{    
            font-size: 3rem;
            position: relative;
        
            &::after {
                bottom: -40px;
            }
        }
        .section-subtitle{    
            font-size: 1.3rem;
            text-align: center;
            padding-top: 5.2rem;
            margin-bottom: 2.5rem; 
            line-height: 1.4;  
        }
        
        .button{
                margin-bottom: 4.1rem;
                margin-top: -.8rem;
            .btn{
                // margin-bottom: 3.1rem;
                // margin-top: 5.3rem;
                padding: 1.5rem 1rem;
                font-size: 1.1rem;
            }
        }
    }
    
}

.featured {
    .featured-in{
        flex-direction: column;
        gap: 2rem;
         
    }
}

.team{
    .section-title{
        margin-bottom: 0;
        margin-top: -3rem;
        
        &::after{
            left: 50%;
            bottom: -390px;
        }
    }
    .section-subtitle {
        margin-top: 0;
        padding-top: 2.5rem;
    }

    &-card{
        flex-wrap: wrap;
    }
   
}

.footer {

    .footer-content{
        flex-direction: column;
        gap: 4rem;
    }

    .content-lower{
    
        img{
            width: 100px;
        }
    }
}

.testimonial {
    &-content{
        margin-top: 12rem;
        .box{
            flex-direction: column;
            margin-bottom: 4rem;
            

            img{
                margin: auto;
                margin-bottom: 5px;
            }
        }
    }
}

}


        @media (max-width: 500px){
            .team{
                .section-title{
                    
                    
                    &::after{
                        left: 50%;
                        bottom: -700px;
                    }
                }
            }

            .featured {
                .featured-in{
                    flex-direction: column;
                    gap: 4rem;

                    img{
                        margin-bottom: 1rem;
                    }
                }
            }
            .footer-content{
                text-align: center;
                font-size: 14px;
        
                p{
                    font-family: $font-secondary;
                    margin-bottom: 1.5rem;
                    
                }
                a{
                    color: $primary-color;
                    text-decoration: underline;
                    margin-bottom: 2rem;
                }
                
            }
        
            .social-icons{
                i{
                    margin-right: .7rem;
                    font-size: 1.5rem;
                    margin-top: 1.5rem;
                }
            }
        }